@use "sass:map";
@import "../../../styles/variables";

:host {
  width: 100%;
}

.content__status {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  height: 78px;
  padding: 0 15px;
  border-radius: $border-radius;

  &_success {
    background-color: map.get($colors, 'green-light');
    border: 1px solid map.get($colors, 'green-dark');
  }

  &_error {
    background-color: map.get($colors, 'red-light');
    border: 1px solid map.get($colors, 'red-dark');
  }

  p {
    font-size: 26px;
  }
}


